img {width: 300px; max-width: 100%;}
h1 {color: white;}
h1 {font-size:500%}
h1 {text-align:center;}
#tausta2 {background-color:salmon;}
div {background-color:teal;}
body {color:white;}
body {background-color:white;}
.fancy {color:purple;}
p {font-family:Arial;}
body {margin:auto; max-width: 1200px;}
.nala {text-align:right;}